<!doctype html>
<html lang="en">

<head>
  {{> partials/head }}
</head>

<body>
  {{> partials/header }}

  <div class="main-container">
    <section class="bg-white space-xlg">
      <div class="container">
        <div class="row align-items-center justify-content-around">
          <div class="col-12 col-md-9 col-lg-5 text-center text-md-left">
            <h1 class="display-3">WebDollar.Fund</h1>
            <h2 class="lead">The first WebDollar fund that allows your to stake your WEBD without having to be online 24/7.<br /><br />Start staking WEBD easy and convenient.</h2>
          </div>
          <div class="col-md-3">
            <img alt="Piggy" src="/assets/img/money-pig.svg" class="box-shadow img-fluid" />
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row justify-content-center text-center section-intro">
          <div class="col-12 col-md-9 col-lg-8">
            <span class="title-decorative">We answer your questions</span>
            <h2 class="display-4">FAQ</h2>
            <span class="lead">Frequently Asked Questions.</span>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="accordion" id="accordion-1" data-children=".accordion-item">
              <div class="accordion-item">
                <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-1" aria-expanded="true" aria-controls="accordion-1">
                  <h5>How to Stake?</h5>
                  <i class="h5 icon-chevron-small-right"></i>
                </a>
                <div id="accordion-panel-1" class="collapse show" role="tabpanel">
                  <p>
                    Make a transaction from your address to the WebDollar.fund address listed above. That's it.
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-2" aria-expanded="false" aria-controls="accordion-1">
                  <h5>Do I need to keep my PC open?</h5>
                  <i class="h5 icon-chevron-small-right"></i>
                </a>
                <div id="accordion-panel-2" class="collapse" role="tabpanel">
                  <p>
                    No. We are keeping a secured server online 24/7, so you don't have to worry about uptime and security.
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <a data-toggle="collapse" data-parent="#accordion-2" href="#accordion-panel-3" aria-expanded="false" aria-controls="accordion-2">
                  <h5>How much can I stake?</h5>
                  <i class="h5 icon-chevron-small-right"></i>
                </a>
                <div id="accordion-panel-3" class="collapse" role="tabpanel">
                  <p>
                    There is no amount limit at the moment.
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <a data-toggle="collapse" data-parent="#accordion-3" href="#accordion-panel-4" aria-expanded="false" aria-controls="accordion-3">
                  <h5>Can I withdraw my WEBD at any time?</h5>
                  <i class="h5 icon-chevron-small-right"></i>
                </a>
                <div id="accordion-panel-4" class="collapse" role="tabpanel">
                  <p>
                    Yes. You can withdraw your amount whenever you want. The process of withdrawing is almost instant and is being handled automatically.
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <a data-toggle="collapse" data-parent="#accordion-4" href="#accordion-panel-5" aria-expanded="false" aria-controls="accordion-4">
                  <h5>How can I see how much I earn?</h5>
                  <i class="h5 icon-chevron-small-right"></i>
                </a>
                <div id="accordion-panel-5" class="collapse" role="tabpanel">
                  <p>
                    Everything is open and stored on the blockchain. You can check <a href="https://www.webdscan.io" target="_blank">WebdScan.io</a> to make sure payments are done correctly.
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <a data-toggle="collapse" data-parent="#accordion-5" href="#accordion-panel-6" aria-expanded="false" aria-controls="accordion-5">
                  <h5>Can I trust WebDollar.Fund?</h5>
                  <i class="h5 icon-chevron-small-right"></i>
                </a>
                <div id="accordion-panel-6" class="collapse" role="tabpanel">
                  <p>
                    WebDollar.fund is part of Hostero. We are collaborators of WebDollar since the mainnet was released. We are actively contributing to the community and believe in the project, long-term.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="space">
      <div class="container">
        <div class="row justify-content-center text-center section-intro">
          <div class="col-12 col-md-9 col-lg-8">
            <span class="title-decorative">Partners</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <ul class="list-inline list-inline-large">
              <!--
              <li class="list-inline-item">
                <a href="https://webdollar.io" target="_blank" data-toggle="tooltip" data-placement="top" title="WebDollar">
                  <img alt="WebDollar Logo" class="logo logo-lg" src="/assets/img/webdollar-logo.png" />
                </a>
              </li>
              -->
              <li class="list-inline-item">
                <a href="https://www.hostero.eu" target="_blank" data-toggle="tooltip" data-placement="top" title="Hostero">
                  <img alt="Hostero Logo" class="logo logo-lg" src="/assets/img/hostero_logo_black_small.png" />
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://webdollarminingpool.com" target="_blank" data-toggle="tooltip" data-placement="top" title="WMP">
                  <img alt="WMP Logo" class="logo logo-lg" src="/assets/img/wmp-logo-round.png" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    {{> partials/footer_small }}
  </div>

  {{> partials/scripts }}
</body>

</html>
